<!-- Navigation -->
{% extends "base.html" %}
{% block title %}Chi Square Feature Selection{% endblock %}
<!-- Page Content -->
{% block content %}
<div class="container">

  {% if msg %}
  <div class="table caption-top table-striped table-bordered table-responsive-md" cellspacing="0" width="100%" style="height: 400px; overflow-y: auto; overflow-x: auto;">
    <caption>Tabel Kata</caption>
      {{ dr|safe }}
  </div>
  <br>
  <div class="table caption-top table-striped table-bordered table-responsive-md" cellspacing="0" width="100%" style="height: 400px; overflow-y: auto; overflow-x: auto;">
    <caption>Tabel Chi</caption>
      {{ dp|safe }}
  </div>
  <br>
  <div class="table caption-top table-striped table-bordered table-responsive-md" cellspacing="0" width="100%" style="height: 400px; overflow-y: auto; overflow-x: auto;">
    <caption>Tabel Chi dengan p-values = 0.05</caption>
      {{ dz|safe }}
  </div>

  {% else %}

  <div class="alert alert-warning" role="alert">
    Dataset Kosong!!
  </div>

  {% endif %}

</div>
<!-- /.container -->
{% endblock %}
